:root {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-pink: hsl(280, 87%, 65%);
  --clr-sky-blue: hsl(192, 100%, 67%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
